[2015-05-21 09:40] shravantc opened #10 "Add Web Hook"
Please add a webhook for readthedocs service so that we need not build manually on each merge.
- click on settings and select "Webhooks & services" from left menu box.
- Click on "Add service" button inside the "Services" section.
- Type and select "ReadTheDocs" from drop down.
- Finally check "active" and click on "Add service" button.

[2015-05-22 07:49] #10 closed

[2016-01-03 02:49] nicodmf opened #69 "Add a documentation with fill configuration options"
Hello,

Thanks for this really usefull and performant FS. I used it since 3 years and for now, i had only success with it.

I think, before we had a documentation with referenced options : http://www.gluster.org/community/documentation/index.php/Gluster_3.2:_Tuning_Volume_Options

and this was usefull to read all referenced options. In the actuel documentation i find many cookbook, but not referen

[2016-01-24 13:22] nixpanic commented on #69
@humblec or @prashanthpai, could one of you check if the contents of the linked page still needs migration? I think many of the volume options are still valid for current releases. Maybe it has been moved to https://gluster.readthedocs.org/ already? If so, can you pass the link?

[2016-04-14 11:33] prashanthpai commented on #69
The corresponding RTD link is [here](https://gluster.readthedocs.org/en/latest/Administrator%20Guide/Managing%20Volumes/)

But it still falls short of categorizing the options into 4 tables as suggested, which btw is a great idea. I'd keep this issue open for now until it's fixed.

[2016-04-25 17:20] m-ueberall opened #105 "Section 'Setting up GlusterFS with SSL/TLS' of the Administrator Guide is outdated"
The section 'Setting up GlusterFS with SSL/TLS' of the Administrator Guide

- still refers to option "ssl.cert-depth" which got renamed "ssl.certificate-depth" in the meantime
- does _not_ take into account the 2015 [SSL ciphers](https://www.gluster.org/pipermail/gluster-users/2015-March/021139.html) discussion on the [Gluster-users] mailing list regarding best-practice settings for option "ssl.ci

[2016-06-04 13:57] zhaochenglan opened #119 "glusterfs mount"
Dear:
     Ever since I used glusterfs, my glusterfs client memory has been growing linearly, what's the solution? thank you

[2016-06-08 06:49] prashanthpai commented on #119
Hi, this repo is only for the glusterfs docs and related issues. Please reach out to `gluster-users` and/or `gluster-devel` mailing lists for help related to memory usage. Thanks.

[2016-06-08 06:49] #119 closed

[2016-07-26 20:28] joejulian opened #131 "There are several references to version 3.5"
Several references to older versions exist in this repo. Change them to current versions and ensure that the documentation surrounding those versions is still accurate.

[2016-07-26 22:44] joejulian opened #133 "Upgrade guide for 3.8 is missing"
There is no upgrade guide for 3.8

[2016-07-26 22:46] joejulian commented on #69
@prashanthpai Just a reminder that you wanted to look at this.

[2016-07-27 06:08] prashanthpai commented on #69
@joejulian Ok. I'll take this up. Will need some time to work on it.

[2016-07-27 06:09] prashanthpai commented on #131
Fixed in PR #132

Thanks @joejulian :+1:

[2016-07-27 06:09] #131 closed

[2016-07-29 00:17] amye opened #134 "Possible workaround for search issues"
https://github.com/rtfd/readthedocs.org/issues/1088
##

I'm not sure if we're using the same json that this issue references, but we could work on overriding the searchbox.html to replace this with something else.

Assigning to @humblec so that he can tell me if I am crazy or if this could work.

[2016-07-29 15:54] joejulian opened #135 "3.7 upgrade guide shows rolling upgrade instructions as "[TBD]""
Have we determined if there are rolling upgrade instructions yet?

https://github.com/gluster/glusterdocs/blob/master/Upgrade-Guide/Upgrade%20to%203.7.md

[2016-08-01 06:57] humblec commented on #135
@joejulian above instructions should work. However I am not sure whether its been tested with latest versions of 3.7.

[2016-08-01 07:00] humblec commented on #133
@joejulian ideally it should have been contributed by  3.8 release lead.  @pranithk or @aravindavk can you please check on this?

[2016-08-01 07:02] humblec commented on #105
@m-ueberall Thanks for pointing it out.  We will look into this, meanwhile if you would like to send a doc patch on this issue , please feel free to send a PR.

[2016-08-01 07:06] humblec commented on #133
ah.. My bad. It would have assigned to @nixpanic

[2016-08-01 08:59] nixpanic commented on #133
There should not be any special steps needed to upgrade from the latest 3.7.x to 3.8. If so, none of the developers informed me about it. The [release notes](https://github.com/gluster/glusterfs/blob/release-3.8/doc/release-notes/3.8.0.md) describe some of the changes and would have contained additional upgrade steps if known.

Depending on the distribution we might want to write some steps though

[2016-08-01 14:18] joejulian commented on #135
Then the "TBD" should be removed if it's been tested. It's causing
confusion.

[2016-08-01 14:20] joejulian commented on #133
If we're going to point users at downstream documentation for a 3.7
(upstream) to 3.8 (downstream) upgrade process, we need to at least have
a page that does that.

[2016-08-01 14:40] nixpanic commented on #133
Do we have a page that describes updating steps? Even for minor releases like 3.7.13 to .14? I guess we could add a note there and point to the documentation for different distributions? I do not think Fedora has Gluster added to the release notes, but maybe we should consider that for the next version update?

[2016-08-02 05:09] amye commented on #134
@humblec, am I crazy? Could we overwrite this?

[2016-08-02 05:12] amye commented on #131
This is a really good point that we should work into our release plans - review docs when we EOL something. I'll add this into release review process.

[2016-08-02 06:44] humblec commented on #133
@nixpanic as part of the release process, we normally provide an 'upgrade guide'. There is nothing wrong if we mention different upgrade process for different distros in the same repo. Also, maintaining upgrade guides in distros may not be the right solution as we only ship a particular version in that distro update. For ex: 3.6 in f21 , 3.7 in f22..etc.  I vote for a common guide as we did in the

[2016-08-02 06:45] humblec commented on #135
@joejulian I am removing it . Thanks for pointing it out.

[2016-08-02 06:58] humblec commented on #134
@amye finding out :) . Give me some time. I will get back.

[2016-08-02 07:57] humblec commented on #134
@amye at present we use the standard templates of mkdocs and RTD (https://github.com/gluster/glusterdocs/blob/master/mkdocs.yml) without any customization . Looking at the thread, it seems to me that customizing the search could help us. @prashanthpai what do u think ?

[2016-08-02 10:19] nixpanic commented on #133
There is no mentioning of "upgrade guides" in our current release process. We should add that if needed. I wasn't even aware we had them in the docs already. It is unfortunate that nobody mentioned this while the release of 3.8 was in progress.

Could someone add a page that says something like "upgrade from current 3.7 releases to 3.8 is done the same way as updates of minor releases"?

[2016-08-02 13:09] humblec commented on #135
@joejulian  Done. https://github.com/gluster/glusterdocs/blob/master/Upgrade-Guide/Upgrade%20to%203.7.md
Closing this issue for now.

[2016-08-02 13:09] #135 closed

[2016-08-02 13:09] humblec commented on #133
@nixpanic added in the new release process page.

[2016-08-05 17:58] amye commented on #134
Either a custom Google search or a more elaborate elasticsearch setup is where I am thinking, but that will require @mscherer's help.

[2016-08-05 19:58] amye commented on #134
Alternatively, @prashanthpai - this seems to be a confirmed workaround.
https://github.com/nodemcu/nodemcu-firmware/commit/7dd89dd15ef993c9740ba4d4361e6be8edd1284b

[2016-08-06 12:00] nixpanic opened #140 "Provide a similar look-and-feel for the docs as use used on gluster.org"
The docs do not look similar to the style on gluster.org at all. It would make the docs look more official when the style matches the main website.

[2016-08-06 12:08] ileyd opened #141 "Architecture page does not reflect recommendation against striped volumes"
[The architecture page](http://gluster.readthedocs.io/en/latest/Quick-Start-Guide/Architecture/) lists striped volumes, and variants involving striping, along with all other volume types.

Justification for using striped volumes is provided, which would of course lead any new user to believe it is a valid choice, and many may use them.

The architecture page should clearly indicate the reasons the

[2016-08-07 11:23] nixpanic opened #142 "Merge (old) Jenkins pages into the OPS Guide"
There are ate least two older Jenkins pages:
- http://gluster.readthedocs.io/en/latest/Developer-guide/Jenkins-Infrastructure/
- http://gluster.readthedocs.io/en/latest/Developer-guide/Jenkins-Manual-Setup/

The new [OPS Guide](http://gluster.readthedocs.io/en/latest/Ops-Guide/Overview/) should probably have those pages instead. Or maybe the old Jenkins descriptions can be deprecated?

[2016-08-08 04:41] humblec commented on #141
@ileyd , @nixpanic has opened a discussion on this via http://www.spinics.net/lists/gluster-devel/msg20481.html .  May be Niels will have a doc patch as soon as he close the discussion :)

[2016-08-08 04:42] humblec commented on #140
@nixpanic you may put some more pointers on this .  @amye is it something you can help with ?

[2016-08-08 07:20] kshlm commented on #140
Sorry for going OT. But blog.gluster.org also doesn't follow the style of the main site. Where would I report bugs for that? Bugzilla under 'project-infra'?

[2016-08-08 08:47] mscherer commented on #142
We can for sure drop the 2nd file, and I guess the first is of dubious historical utility. However, not all servers are documented yet on the ops docs, so we could just add a minimal list somewhere and then remove the file ? (also, "Jenkins infra", when there is slightly more than jenkins is misleading)

[2016-08-08 09:54] SaravanaStorageNetwork opened #143 "update documentation about op-version"
Update documentation about op-version.
 - what is it and how to set it?

A section in upgrade-guide will be apt.
http://gluster.readthedocs.io/en/latest/Upgrade-Guide/README/

[2016-08-09 15:27] amye commented on #140
@kshlm: blog.gluster.org is an entirely separate property.
@nixpanic: This is a current limitation of the RTD platform, cannot be resolved with current tooling.

[2016-08-09 15:44] nixpanic commented on #140
Don't we use mkdocs for the generation? That should support custom themes like documented on http://mkdocs.readthedocs.io/en/latest/user-guide/custom-themes/

If it can not be resolved with the current tooling, we should probably keep this open and fix it when the tooling improves. Pretty unexpected that there are still platforms that do not allow changing the displayed style.

[2016-08-09 15:45] nixpanic commented on #140
Where can we request and track the blog.gluster.org theme changes?

[2016-08-26 07:22] #143 closed

[2016-09-29 11:52] drngsl opened #171 "Config Glusterfs with SSL/TLS"
Hi,
According to guide https://gluster.readthedocs.io/en/latest/Administrator%20Guide/SSL/, I could not use glusterfs normally, so here I want to ask some questions.
Env:
on glusterfs host:
`root@minion3:/etc/ssl# ll
total 72
drwxr-xr-x   4 root root      4096 Sep 29 15:52 ./
drwxr-xr-x 136 root root     12288 Sep 29 15:37 ../
drwxr-xr-x   3 root root     24576 Sep  1 22:13 certs/
-rw-r--r--   1 r

[2016-09-29 13:11] mohit84 commented on #171
Hi,

  As per shared logs it confirms SSL api (SSL_Connect) is failing to connect with host.
  [socket.c:384:ssl_setup_connection] 0-vol-ssl-client-0: SSL connect error.

  After checked with size of glusterfs.ca it seems file is same on both host (client and server),size of .ca should not be same if client and server are on different host.To correct it please follow below steps

  1) For self sig

[2016-09-30 01:07] drngsl commented on #171
@mohit84 , thanks!
And about `gluster volume set MYVOLUME auth.ssl-allow Zaphod`
what's the meaning of the user `Zaphod`?
Is this user `Zaphod` the hostname of client?

If I'd like to make glusterfs volume `vol-ssl` only be accessed by client `minon2`, How to set the option `auth.ssl-allow`?

[2016-09-30 01:47] mohit84 commented on #171
Hi,

 cli(gluster) does provide option "auth.ssl-allow " to set the list of common names of all server/client to access the volume.
 The common name is provides to as a argument at the time of generate private key like below
  # openssl req -new -x50 9 -key /etc/ssl/glusterfs.key -subj "/CN= COMMONNAME" -out /etc/ssl/glusterfs. pem

 You can assign a name to every client and server at the time of

[2016-09-30 06:35] drngsl commented on #171
so, every time I create an new client, and access to glusterfs volume, I need push the content of glusterfs.pem generated on client to the file /etc/ssl/glusterfs.ca of glusterfs server host?

[2016-09-30 06:37] mohit84 commented on #171
Yes, in case of SSL key transferred step is required.

[2016-10-05 08:07] melbit-dannyw commented on #133
But does 3.8 allow a rolling upgrade like 3.7 and 3.5?  3.6 did not allow it.  It needs to be clarified as there is still no upgrade document provided on upgrading to 3.8.

[2016-10-10 16:50] joejulian commented on #133
@melbit-dannyw 3.6 does allow rolling upgrades. There's only _rarely_ bugs that prevent that, and then it's usually between specific minor versions.

[2016-10-17 04:15] humblec commented on #133
Could someone add a page that says something like "upgrade from current 3.7 releases to 3.8 is done the same way as updates of minor releases"?

@nixpanic now there is a mention about the upgrade guide in the release process http://gluster.readthedocs.io/en/latest/Contributors-Guide/GlusterFS-Release-process/ can you please place one for 3.8 ?

[2016-10-31 19:42] Illydth opened #179 "Gluster Setup for Anything but CentOS/RHEL Incorrect"
With the migration of Gluster into the CentOS Storage SIG, there are no longer "public" packages for "other" RHEL Variants other than RHEL or CentOS...even the instructions for installing on RHEL are unclear as it requires a CentOS Release Package to Install.

Meaning, there's no clear installation method on pretty much any system but Cent at this point.  This locks out:
* ROSA Enterprise Linux Se

[2016-11-02 05:22] amye commented on #179
Two different things in here:

1) I very much appreciate you offering your take on where our Gluster documentation can be improved. As an open source project, we welcome input on where our direction could be.

2) That being said, constructive points are also helpful, so thank you for the Oracle Install pointers. We'll review this and work with CentOS to correct their archives.

Anything else that

[2016-11-23 05:02] humblec commented on #133
@nixpanic ping ? any update on this ?

[2016-11-23 05:03] humblec commented on #171
@drngsl Is this issue resolved? If yes, please close the same .

[2016-11-23 05:04] humblec commented on #142
@mscherer @nixpanic Is there a PR on this ?

[2016-11-23 05:05] humblec commented on #141
@nixpanic can you please summarize it?

[2016-11-23 06:04] #171 closed

[2016-11-23 10:45] #179 closed

[2016-12-12 07:04] aj07 opened #192 "needed more pacakge while installing gluster on fedora"
While installing first time gluster on fedora, one package seems to be missed.
Error: `g++error:/usr/lib/rpm/redhat/redhat-hardened`

It can be solved by running following [cmd..](http://stackoverflow.com/questions/34624428/g-error-usr-lib-rpm-redhat-redhat-hardened-cc1-no-that-file-and-directory)
`sudo dnf install redhat-rpm-config`

There is need to update page[https://gluster.readthedocs.io/en/

[2016-12-12 07:26] humblec commented on #192
@aj07 Thanks..  Please send a PR.

[2017-01-05 13:27] mbukatov opened #194 "Duplication of glossary/terminology overview documents"
We have glossary with gluster terminology in both *Quick Start Guide* and *Administrator Guide*.

The problem is that the content of glossary/terminology overview itself is duplicated in 2 different separate files, with different formatting. This is hard to maintain and keep in sync.

## Details

There are 2 files with gluster glossary overview:

* [Terminologies.md](https://github.com/gluster/glu

[2017-01-05 13:50] humblec commented on #194
@mbukatov Thanks!. Would you like to send a PR on  this ?

[2017-01-06 07:51] aj07 commented on #192
PR #196

[2017-01-06 10:10] mbukatov commented on #194
@humblec Do you agree with squashing both documents into single one, which would be included in both guides without duplication?

[2017-02-19 21:18] nvtkaszpir commented on #192
This should be marked as closed becuase the PR was merged.

[2017-02-19 21:28] nvtkaszpir commented on #194
I think squashing a must, otherwise it may just introduce too much confusion.

How about this:
- Quick-Start-Guide/Terminologies.md is still valid, but should change how it is presented:
- - it should consist of the list of theterms used later in the Quick Start guide, the minimum set focused on very specific, minimal gluster setup - so we should ditch RAID, geo-replication and so on...
- - each e

[2017-02-20 03:58] humblec commented on #194
@prashanthpai ^^^ Any thoughts here ?

[2017-02-20 06:29] nvtkaszpir commented on #194
Just looked at the docs again after waking up.
There's:
- Getting started with GlusterFS > Quick start Guide + Terminologies
- Install Guide > Common Criteria + Quick start to install
- Administration Guide > Terminologies (which links to the different section which causes a reading loop) + Glossary

So actually there are at least three places, and I think it's one too much :)

[2017-02-22 06:57] prashanthpai commented on #194
Agreed. New subprojects [use](http://libgfapi-python.rtfd.io) rst. We're stuck with markdown for glusterdocs though, for now.

PRs to remove this duplication are always welcome :)

[2017-02-22 06:58] #192 closed

[2017-02-22 07:05] nvtkaszpir commented on #194
AFAIR sphinxdoc allows converting docs from MarkDown to RestructuredText - I remember doing this. but then it would require changing build process of the documentation.
So first step would be making minimal new build script/configs and processing .md files, which can later on be easily converted to .rst
If I got some spare time I'll try to make a fork+branch to show this.

[2017-02-22 07:12] prashanthpai commented on #194
We have visited this option earlier (using `pandoc`). And in many cases, it did require manual intervention after the conversion and it was too much effort.

[2017-02-22 07:46] nvtkaszpir commented on #194
Yeah, been there ;-)
Either way the docs needs reformatting, so it's inevitable.

The only thing I fear is if the docs are already included in some other projects/packages, and they would heavily rely on current setup.

But switching to restructured text would allow easy export to multiple formats like man pages, pdf and so on.

[2017-02-22 14:44] ShyamsundarR opened #204 ""About op-version" section in the "Upgrading GlusterFS" chapter needs updates for 3.10"
In 3.10 we introduced the option to fetch maximum possible op-version that the cluster can be bumped to. This needs to be updated in this section of the guide.
Option: gluster volume get all cluster.max-op-version
Guide location: https://gluster.readthedocs.io/en/latest/Upgrade-Guide/op_version/

Further, checking client op-version was also supported, from my understanding we should also add that

[2017-02-22 15:28] samikshan commented on #204
PR up for review here: https://github.com/gluster/glusterdocs/pull/205

[2017-02-22 17:54] ShyamsundarR opened #206 "Update release-notes section with release-3.10 notes as well"
Filing this issue in advance of 3.10 release, so that once the release announcements are made, the release notes from [1] can be posted on the doc site as well.

[1] Link will work once 3.10.0 is tagged: https://github.com/gluster/glusterfs/blob/v3.10.0/doc/release-notes/3.10.0.md

[2017-02-23 04:38] humblec commented on #206
@ShyamsundarR please send a PR which add the release notes in https://github.com/gluster/glusterdocs/tree/master/release-notes . We can merge it and keep for the release announcement.

[2017-02-23 11:46] ShyamsundarR opened #209 "op-version edit to the document needs 3.10 addition"
http://gluster.readthedocs.io/en/latest/Upgrade-Guide/op_version/ does not say that the command to get the max op-version is supported only from 3.10 onward (I think we need that there, so that users with older versions do not attempt the same and file bugs :) ).

@samikshan can you take care of this?

[2017-02-23 20:19] samikshan commented on #209
PR for review: https://github.com/gluster/glusterdocs/pull/211

[2017-02-24 18:12] ShyamsundarR opened #213 "Build instructions given in the README seem incorrect"
The build instructions presented in the README.md at the root of this project seem incorrect.

When building using,
[code]
from the root of the repository I get the following errors,
[code]

Tool and platform versions that I use to build,
[code]

I overcame this problem by,
[code]

I am not entirely sure if what I did is right or this is the way to do it, the errors seem to point that this is how

[2017-02-25 04:23] #206 closed

[2017-03-01 05:04] ethaniel opened #217 "Installation documentation is wrong"
This page has an error in the wget -O line. My debian returns an error.

https://gluster.readthedocs.io/en/latest/Install-Guide/Install/

[code]

[2017-03-02 11:51] jaloren opened #218 "Clarify documentation on setting up lvm for gluster snapshots"
According to this link:

https://gluster.readthedocs.io/en/latest/Administrator%20Guide/Setting%20Up%20Volumes/

The following sentence exists.

"It is recommended that only one VG must be created from one storage device."

Not only is this grammatically incorrect, its extremely confusing. I think what its trying to say is that a single device should not be in more than one volume group.

Accordin

[2017-03-02 12:03] prashanthpai commented on #218
@rajeshjoseph What do you think about this ?

@jaloren Thanks for reporting this. PRs to fix this are always welcome though :)

[2017-03-02 12:04] prashanthpai commented on #217
@nixpanic Hi, do you know the maintainer of gluster debian packages ?

[2017-03-02 12:05] prashanthpai commented on #209
As @samikshan mentioned, this has been addressed in #211

[2017-03-02 12:05] #209 closed

[2017-03-02 12:09] jaloren commented on #218
@prashanthpai  I am totally willing to submit a PR. However, before i do that, I would like confirmation from others (preferably someone who actually works on gluster and has some background with disk layout) to confirm that what I said was accurate.

I'd also need to know if its kosher to incorporate content from the red hat doc inside the open source docs. Not sure if there'd be any type of copy

[2017-03-02 12:14] prashanthpai commented on #218
@jaloren Right. I'd prefer to have @rajeshjoseph take a look at this.

[2017-03-02 17:45] nixpanic commented on #217
@kalebskeithley builds most packages that can be found on download.gluster.org, he would know how to add the `rsa.pub`

[2017-03-03 17:22] kalebskeithley commented on #217
fixed.  (You could always look around and find the key at pub/gluster/glusterfs/3.10/rsa.pub)
And no, I only have a Comment button, not a Comment and Close button.

[2017-03-03 18:18] #217 closed

[2017-03-10 17:31] bwerthmann opened #222 "Upgrade guides: include guidance for gfapi based applications running on remote systems"
The upgrade guide does not specify how to handle gfapi based applications running on systems. I think more clarity on ordering in this case would remove some guess work.

## upgrading gfapi clients and op-version

- trusted pool is updated
- gfapi clients are updated
- op-version is updated

Is the gfapi client aware of the new op-version? Does the client need to be restarted to make use of the ne

[2017-03-25 13:35] nbalacha opened #225 "Gluster needs more developer specific documentation"
glusterdocs needs to be updated with more information on gluster internals for developers interested in working on the project.

[2017-03-25 14:29] humblec commented on #225
@nbalacha totally agree. All the developers has to contribute to achieve this goal. May be we have to come up with a mandatory process to improve the developer documentation. Any thoughts or ideas for the same ?

[2017-03-27 04:21] prashanthpai commented on #225
@nbalacha @humblec All developer docs [currently resides in the glusterfs repo](https://github.com/gluster/glusterfs/tree/master/doc/developer-guide) and should continue to do so. This repo is only for admins and users of GlusterFS.

[2017-03-27 06:06] nigelbabu commented on #225
@prashanthpai Does that mean the contributor guide doesn't have a place?

[2017-03-27 06:14] prashanthpai commented on #225
@nigelbabu Not all contributors are developers. Contributions can come in many ways - documentation, bug reports, website maintenance etc. The [contributors guide](https://github.com/gluster/glusterdocs/blob/master/Contributors-Guide/Index.md) currently resides in this repo, which is the right place.

Developers who intend to review/send code patches to GlusterFS code repo (or hack privately) will

[2017-03-27 08:56] humblec commented on #225
@prashanthpai @nbalacha yes, its in different source. However I thought @nbalacha's request here is to improve the same.

[2017-04-01 12:24] #225 closed

[2017-06-10 02:48] mikeSGman commented on #218
I have to admit, I was thinking about putting in a request having read it the other day and moving on.  Back at the docs today, after googling found this thread.  Thanks @jaloren

[2017-06-11 07:37] lamz138138 opened #233 "Why mount failed?"
Hi, I have four nodes. One of them was used as serve and the others were clients (the gluster version is 3.1.2). Recently, one client was umount in a minute after reboot. Following is related information:
[code]
2. I then update the version to 3.6.5 with emerge. However, it failed to mount now.
[code]
(1) looking the log, I found:
[code]
(2) I then start glusterfs with debug:
[code]
(3) Check the

[2017-06-12 07:04] satheesaran commented on #233
You need to update all the old version to the latest.
One possibility is that with the older version of gluster, the ports starting from 24009 were consumed by bricks, but with the latest gluster changes, this has been changed to the range starting from 49152, based on IANA standards. Probably this could be messing up with your systems.

 Mind that GlusterFS 3.8, 3.10, 3.11 are stable. Gluster 3.6

[2017-06-15 01:50] lamz138138 commented on #233
Hi， satheesaran!

Thanks for your reply and sorry for the delay reply!
After update GlusterFS, remove director "/var/lib/glusterd", I solved my problem.

Best wishes!

[2017-06-15 01:51] lamz138138 commented on #233
However, there only 3.6.5 with emerge in Gentoo.

[2017-06-15 01:51] #233 closed

[2017-07-13 14:33] ShyamsundarR commented on #213
Addresses my problem. Thanks, closing this.

[2017-07-13 14:33] #213 closed

[2017-07-22 10:33] lamz138138 opened #246 "Can't open file, link count is 0, thanks!"
Hi!

I had used gluster for a while, then I suddenly found some files couldn't be opened. After restart gluster, it is same. Following is more detail:

Then, I found the link of the file is 0:

As /mnt/share is mounted in /rd1/brick, so I check whether the raw file is good:

The volume had been created as:

Since some files could be accessed properly, I think there maybe some problem of gluster fi

[2017-07-24 06:25] raghavendra-talur commented on #218
@prashanthpai @jaloren Most of the suggestions look good.

I don't think
"you may have as many physical devices allocated to a single volume group."
is right. I think we recommend that each physical device gets its own volume group. Need confirmation from snapshot team here.

About the referencing Red Hat docs, it is ok to provide links to Red Hat docs.  IIRC, images should not be copied.

[2017-08-08 10:16] jaloren commented on #218
@raghavendra-talur if that's true about a one to one relationship between PV and VG, then how should one expand disk for a brick on a server? For example, lets say I have the following set up:

- device /dev/sdc
- /dev/sdc is a physical volume
- /dev/sdc is 100 GB.
- /dev/sdc is in the volume group named VolGrp1
- In VolGrp1, there is a single logical thinpool volume: LV1
- The brick directory is

[2017-08-08 10:16] jaloren commented on #218
@raghavendra-talur if that's true about a one to one relationship between PV and VG, then how should one expand disk for a brick on a server? For example, lets say I have the following set up:

- device /dev/sdc
- /dev/sdc is a physical volume
- /dev/sdc is 100 GB.
- /dev/sdc is in the volume group named VolGrp1
- In VolGrp1, there is a single logical thinpool volume: LV1
- The brick directory is

[2017-08-25 11:24] helmo commented on #134
I'm seeing 404's when I click in the search results on http://gluster.readthedocs.io

Would that also be solved by this? e.g. searching for 'brick' gives [gluster - Brick Failure Detection](http://gluster.readthedocs.io/en/latest/Features/brick-failure-detection/?highlight=brick) as first result which returns a 404.

[2017-08-28 03:35] nigelbabu commented on #134
Ugh, that file hasn't existed on the repo since 2015 :(

[2017-08-28 06:57] prashanthpai commented on #134
This has been fixed to some extent by PR #255

[2017-09-05 22:22] Darqy opened #261 "Invalid mount options"
Hi everyone,
I encountered an issue in the Setting Up Clients page, under the Mounting Volumes heading.
It states _volfile-max-fetch-attempts_ is a valid mounting option, and gives an example showing it being used. However, when attempting to use it (on 3.10), you get an error stating that it's an invalid option. _fetch-attempts_ on its own is valid however, and is simply translated to volfile-max

[2017-10-10 16:01] lpl-hosting commented on #218
The documentation doesn't specify why LVM usage is recommanded over the Gluster's volumes.

Is it absolutely neccessary ? Can't we use an XFS partition directly ?
For example, on a dedicated server with disks which will never change of size, why use LVM ?

[2017-10-10 16:27] prashanthpai commented on #218
LVM is required only if you intend to use snapshot feature.

Certainly you can.

[2017-11-02 15:40] SaravanaStorageNetwork opened #297 "GlusterFS in container - comprehensive document of different projects"
There are multiple projects related to GlusterFS in container like:
1. gluster-kuberenets - https://github.com/gluster/gluster-kubernetes
2. gluster-containers - https://github.com/gluster/gluster-containers/
3. heketi  - https://github.com/heketi/heketi
4.  docker hub. - https://hub.docker.com/r/gluster/

There is documentation present in every project which explains about the project and usage.

[2017-11-03 09:56] humblec commented on #297
@SaravanaStorageNetwork This is a pending item for long time, would you like to contribute on the same ?

[2017-11-03 10:21] SaravanaStorageNetwork commented on #297
@humblec Yes..will post a PR in a week's time for review

[2017-11-24 22:23] jarrpa opened #302 "Wrong key location in Debian install instructions"
The docs (here)[https://github.com/gluster/glusterdocs/blob/master/Install-Guide/Install.md] say that you should at the following GPG key:
[code]
Unfortunately, there's no such key file there. `glusterfs/LATEST` appears to just be a link to `glusterfs/3.12/LATEST`, but the key that you need to use is located at `glusterfs/3.12/rsa.pub`.

Either the instructions should be updated or some sort of li

[2017-11-25 16:15] mbukatov opened #303 "Explain how ondemand scrub feature works"
## Description

We need to extend description of bitrot detection, so that it contains details about ondemand scrub detection and how to review the result.

What is missing:

* full description of ondemand scrub in section of admin guide, where bit rot detection is discussed
* there is no description of scrub status command anywhere

## URLs

* http://docs.gluster.org/en/latest/Administrator%20Gui

[2017-11-30 06:53] prashanthpai commented on #302
PR #305 addresses this.

[2017-11-30 06:53] #302 closed

[2017-12-18 16:28] gtirloni opened #311 "HTTPS mixed-content in www.gluster.org"
The Gluster website doesn't get labeled "secure" because a single image is being loaded through HTTP:

`http://gluster.wpengine.com/wp-content/themes/glusterTheme/Resources/Sprites/main.png`

[2018-01-12 17:44] hpcre opened #322 "error in gluster website"
Error on page https://www.gluster.org/roadmap/
You mentioned version 3.12 came out in "December 2018" instead of "December 2017"

[2018-01-22 08:23] mikkorantalainen opened #327 "Linux Kernel Tuning: do you really suggest high vfs_cache_pressure?"
http://docs.gluster.org/en/latest/Administrator%20Guide/Linux%20Kernel%20Tuning/
https://github.com/gluster/glusterdocs/blob/master/Administrator%20Guide/Linux%20Kernel%20Tuning.md

"With GlusterFS, many users with a lot of storage and many small files easily end up using a lot of RAM on the server side due to 'inode/dentry' caching, leading to decreased performance when the kernel keeps crawling

[2018-03-02 07:07] zhaorendong opened #344 "The detail of "Open file stats" not display"
For example, to view open fd count and maximum fd count on brick server:/export of test-volume and list top 10 open calls:
# gluster volume top  open brick  list-cnt
Brick: server:/export/dir1
Current open fd's: 34 Max open fd's: 209
But why the  detail of "Open file stats" not display,like the following:
            ==========Open file stats========

open            file name
call count

2

[2018-03-02 07:24] #344 closed

[2018-03-07 08:49] anasri opened #345 "apache does not have access to gluster volume"
Hi
I have setup glusterfs and mounted it on /var/www/html which apache can read/write from/to it, it seems that everything is right and correct but I'm getting 403 forbidden access while accessing to the website.

would you please guide me how to solve the issue?

Thank you

[2018-03-07 10:07] anasri commented on #345
Finally I found out that selinux must be disabled.

[2018-03-24 09:46] Caprico85 opened #352 "Wrong path for Debian repository"
On https://docs.gluster.org/en/latest/Install-Guide/Install/ the following steps are listed to create the repository file:
[code]

On Debian 9 this creates the repository URL
https://download.gluster.org/pub/gluster/glusterfs/LATEST/Debian/9/amd64/apt

But this URL does not exist, it only reports error 404. The correct URL now seems to be
https://download.gluster.org/pub/gluster/glusterfs/LATEST/D

[2018-03-27 19:37] amye opened #353 "Adding security page"
https://github.com/gluster/glusterweb/issues/162 should actually live over here, as we should add an updated security page to documentation and link that back into the website.

[2018-04-03 23:32] #204 closed

[2018-04-05 09:03] Caprico85 commented on #352
Repository seems to be back under it's old URL. Closing this issue now.

[2018-04-05 09:03] #352 closed

[2018-04-06 10:24] rdxmb opened #357 "mount glusterfs via systemd-Unit"
Hello,

additional to the mounts via fstab it would be great to have an example for mounting via systemd-Mount-unit on the site https://docs.gluster.org/en/latest/Administrator%20Guide/Setting%20Up%20Clients/.

Especially the dependencies like

`After=` and `WantedBy=`

would be great to know. Would you prefer

`glusterfs-server.service` or `glusterd.service` as a dependency ?

[2018-05-04 03:30] amarts opened #362 "[RFE]: sequence diagram (UML) for complex fops"
I would like to see us come up with sequence diagram like below:

![afr lookup](https://user-images.githubusercontent.com/624969/39611947-e8ea58c2-4f78-11e8-83f0-920adeb866fe.png)

This was done by some basic language like below:

[code]

I know this can be a tedious effort now for getting it for many operations, but if people try to picture the operations in a diagram like above, we would be in g

[2018-05-16 23:03] remram44 opened #364 "All the links on the community page are broken"
On https://www.gluster.org/community/, none of the links under Development work (they point to the same page). That includes the link to report this bug to the documentation.

![screenshot](https://user-images.githubusercontent.com/426784/40148403-d05764b8-593b-11e8-9709-66d3613ca5bf.png)

[2018-05-18 11:44] sanoj-unnikrishnan commented on #362
Wondering if we intercept fops at  different client and server processes with systemtap,
will we be able to generate this diagram in an automated way?

[2018-05-20 16:08] amarts commented on #362
Some suggestions came for tracing all the function calls with systemtap, and documenting them. That too is a good idea to start with, but even then, I recommend plotting them on a diagram like this, so it is very clear for everyone to 'remember'.

@sunilheggodu @sanoj-unnikrishnan @moagarar

[2018-05-28 15:31] aspandey opened #365 "Add section for thin-arbiter volume in glusterdoc"
Add section for thin-arbiter volume in glusterdoc

[2018-06-11 11:11] torvitas opened #367 "SSL Cert expired"
Hi,

it look's like your letsencrypt cert expired yesterday.

Greetings, Sascha

[2018-06-11 11:12] torvitas commented on #367
[code]

[2018-06-11 11:37] nigelbabu commented on #367
Oops! Thank you for letting us know. Working on fixing it right away.

[2018-06-11 11:37] prashanthpai commented on #367
@nigelbabu

[2018-06-11 12:05] nigelbabu commented on #367
And we're back online.

[2018-06-11 12:05] #367 closed

[2018-06-21 19:12] #322 closed

[2018-06-27 06:14] mykaul opened #372 "Rephrase this repo's description"
Currently, it says:
'This repo had it's git history re-written on 19 May 2016. Please create a fresh fork or clone if you have an older local clone.'

Surely we can improve.

[2018-06-27 08:49] prashanthpai commented on #372
The notice/announcement should stay, but may be in `README.md` instead and not description.

@nixpanic I don't seem to have permission to edit repo description. I remember you having them.

[2018-06-27 09:06] nixpanic commented on #372
@prashanthpai yes, I can change it. Just let me know what the text should be.

[2018-06-27 09:15] prashanthpai commented on #372
@nixpanic

`This repo contains the source of official Gluster documentation rendered at http://docs.gluster.org/`

Feel free to improve/change it as you see fit.

[2018-06-27 09:53] nixpanic commented on #372
The description has now been updated.

[2018-06-27 10:16] #372 closed

[2018-06-29 18:15] mykaul opened #374 "Build instructions are outdated"
https://docs.gluster.org/en/latest/Developer-guide/Compiling-RPMS/ contain instructions for RHEL 5.x, but not for RHEL 7.x.
As well as for ancient Fedora releases.

[2018-06-29 18:38] mykaul commented on #374
For example, you need to install libacl-devel , userspace-rcu (and userspace-rcu-devel) , sqlite-devel, libcurl-devel to succeed to compile.
and probably libtirpc-devel is recommended as well.

[2018-06-29 18:46] joejulian commented on #374
Any chance you could put together a PR?

[2018-07-01 12:54] mykaul commented on #374
For CentOS: https://github.com/gluster/glusterdocs/pull/375 - this is to build from source.
Need additional to compiling, etc. (actually, it's a longer task - probably should merge those two pages!)
But this is a start.

[2018-07-03 14:37] rdxmb opened #376 "FeatureRequest: add Ubuntu 16.04 , 18.04 and GlusterFS 4.1"
missing here:

https://docs.gluster.org/en/latest/Install-Guide/Install/

[2018-07-20 09:17] lambda123 opened #378 "Bitrot Detection section not referenced"
The Bitrot Detection section is not referenced in the TOC of the Administration Volume page.

[2018-07-24 15:04] daurrutia opened #390 "Feature request: Article on methods for replicating VM’s across multiple zones."
Would love to see documented details of HA AWS deployment scenarios.

[2018-07-26 04:05] aspandey opened #394 "Restructure documentation for Thin Arbiter volume"
@karthik-us, as there are comments on this document, please restructure this document based on comments on original doc.

[2018-08-01 00:26] daurrutia opened #395 "Red Hat 7 Installation"
Is this still valid? Encountering difficulties attempting to find glusterfs-server and glusterfs-client for RHEL 7.x.

[2018-08-01 02:11] sankarshanmukhopadhyay commented on #395
@daurrutia  I have a clarifying question - are you looking for RHEL binaries (which should be available from the content delivery networks for RHEL) or, binaries for CentOS etc?

[2018-08-01 02:38] daurrutia commented on #395
Thanks for the quick reply @sankarshanmukhopadhyay.

I guess I'm looking for the RHEL binaries. The gluster docs simply point one to the CentOS Storage SIG.

I'm trying to figure out what is the "right" way to install glusterfs on RHEL 7.

[2018-08-01 05:14] sankarshanmukhopadhyay commented on #395
Red Hat packages, ships and supports the Red Hat Gluster Storage product. More detail about documentation and packages are at https://access.redhat.com/products/red-hat-storage.

The existing documents which point to the CentOS Storage SIG do so if you would like to use packages built for CentOS and functionally validated by members of the SIG

[2018-08-01 14:57] daurrutia commented on #395
Ok, so then I am looking to utilize the CentOS packages.

The issue I am running into maybe due to my limited knowledge of with yum repos.

I have added the CentOS repos to my RHEL instance, however, when attempting to install centos-release-gluster41, I run into centos-release dependency transaction check errors, and gluster does not install.

[gfs-transactionerror.txt](https://github.com/gluster

[2018-08-06 02:01] sankarshanmukhopadhyay commented on #378
I wanted to ask a clarifying question before I attempt to address this - could you point me to the specific section/URL which you did not find cited?

[2018-08-06 02:03] sankarshanmukhopadhyay commented on #376
I am not sure that we have received any PRs for the documentation around this topic. I can certainly post to gluster-users@ list to check if a community member would be interested in a PR which can be reviewed.

[2018-08-06 02:07] sankarshanmukhopadhyay commented on #327
It has been a while since https://github.com/gluster/glusterdocs/blob/master/Administrator%20Guide/Linux%20Kernel%20Tuning.md was reviewed for freshness. I am going to take a look at the content and make changes as appropriate. Thanks for highlighting this!

[2018-08-06 03:01] sankarshanmukhopadhyay commented on #362
If the work on this is complete, perhaps the issue needs to be closed with a PR cited.

[2018-08-06 11:37] sankarshanmukhopadhyay opened #402 "Fix for "firewall" recommendation on installation page"
https://github.com/gluster/glusterdocs/blob/master/Install-Guide/Common_criteria.md needs to have a sensible recommendation for firewall topics

[2018-08-07 01:49] sankarshanmukhopadhyay commented on #133
3.8 has been a bit long in the tooth - what keeps this issue in 'Open' state?

[2018-08-07 01:50] sankarshanmukhopadhyay commented on #105
With https://github.com/gluster/glusterdocs/pull/215 can this issue be closed?

[2018-08-07 01:51] sankarshanmukhopadhyay commented on #134
If https://github.com/gluster/glusterdocs/pull/255 address some pertinent parts of this - can we either split this issue out and/or close the part which is done? Or, close this entire issue itself?

[2018-08-07 01:52] sankarshanmukhopadhyay commented on #140
@amye - is this done and can this be closed?

[2018-08-07 01:53] sankarshanmukhopadhyay commented on #141
Please provide a status update on this - is this issue still relevant and should be worked upon?

[2018-08-07 01:53] sankarshanmukhopadhyay commented on #142
@nigelbabu @mscherer - is this issue still relevant?

[2018-08-07 01:54] sankarshanmukhopadhyay commented on #218
Is there work to be undertaken on this issue? Is it complete so that it can be closed?

[2018-08-07 01:56] sankarshanmukhopadhyay commented on #353
@amye - is anyone working on a PR around https://github.com/gluster/glusterweb/issues/162#issuecomment-373812832 ? If not, I can send one in after validating that the security@ alias/email exists.

[2018-08-07 01:59] sankarshanmukhopadhyay commented on #297
Since [this announcement](https://lists.gluster.org/pipermail/gluster-devel/2018-July/055042.html) is now in place, do we need to continue to work on this? @humblec @amye

[2018-08-07 03:56] nigelbabu commented on #142
Nope.

[2018-08-07 03:56] #142 closed

[2018-08-07 03:59] nigelbabu commented on #134
Yeah, this is safe to close.

[2018-08-07 03:59] #134 closed

[2018-08-07 09:27] nixpanic commented on #140
https://docs.gluster.org still does not look integrated with the rest of https://gluster.org - I have hopes that someone will provide a matching RTD theme for it.

[2018-08-07 09:30] nixpanic commented on #133
This should have been closed when the upgrade guide got merged. I'm not a doc maintainer, but will close this now.

[2018-08-07 09:30] #133 closed

[2018-08-08 02:30] sankarshanmukhopadhyay commented on #311
@amye @mscherer - comments and next steps please? Who can fix this? Does it need a RHBZ?

[2018-08-08 02:41] sankarshanmukhopadhyay commented on #390
@daurrutia the excerpt - can you help me with a link to the document it is from?

[2018-08-08 02:43] sankarshanmukhopadhyay commented on #261
@nbalacha can you please help on this issue? It would seem like the document needs to be modified, but I am not so sure.

[2018-08-08 02:44] sankarshanmukhopadhyay commented on #194
Alright - so what are the next steps here? Is reconciling the documents and presenting a single glossary the decision?

[2018-08-08 02:47] sankarshanmukhopadhyay commented on #105
@humblec @prashanthpai - please comment if this can be closed.

[2018-08-08 03:34] prashanthpai commented on #105
The first point has been fixed (certificate-depth). The second one (recommended cipher list) hasn't been fixed yet

[2018-08-08 10:57] sankarshanmukhopadhyay commented on #140
@nixpanic from how I look at it - this isn't the item which is likely to happen soon. So, unless we get contributions which make this happen - it might be worthwhile to close the issue.

[2018-08-08 11:37] amye commented on #140
This refers to back when we had a cloud-based Gluster background, not the current white-based background. New issue with link to contribution of RTD theme can be opened.

[2018-08-08 11:37] #140 closed

[2018-08-08 11:38] amye commented on #353
Ah, this is a good start! @mscherer has more details on where security@ is aliased to.

[2018-08-08 11:42] amye commented on #311
I can't reproduce this issue.
Marking as closed.
If still an issue, can be reopened in glusterweb.

[2018-08-08 11:42] #311 closed

[2018-08-08 19:41] ShyamsundarR opened #408 "Need better and more up-to-date instructions on running tests"
Current instructions are very skimpy, just talk about run-tests.sh and nothing more. References:
- https://docs.gluster.org/en/latest/Developer-guide/Development-Workflow/#regression-tests-and-test-cases
- https://docs.gluster.org/en/latest/Developer-guide/Simplified-Development-Workflow/
- https://github.com/gluster/glusterfs/blob/master/tests/README.md

We need more up to date instructions and p

[2018-08-09 14:20] daurrutia commented on #390
Here you go:

https://github.com/gluster/glusterdocs/blob/master/docs/Install-Guide/Setup_aws.md

First bullet under "Other notes:"

[2018-08-09 14:25] daurrutia commented on #395
Was able to workaround by copying package and dependencies from CentOS 7 to RHEL 7.

Thanks @nixpanic . Will try #1 next.

[2018-08-10 07:32] sankarshanmukhopadhyay commented on #408
Thanks for filing this. I have a few clarifying questions

- can you point out to a page (from a different project perhaps?) which can be emulated
- when you write "running tests", do you mean the entire set of workflow culminating in the CI jobs

[2018-08-13 04:41] sankarshanmukhopadhyay opened #409 "Review and edits to Admin Guide"
The [Admin Guide](https://github.com/gluster/glusterdocs/tree/master/Administrator%20Guide) needs extensive reviews to be refreshed to a better state.

This issue will be used to track a series of PRs that improve various documents in the group.

[2018-08-13 04:45] #395 closed

[2018-08-22 17:40] ShyamsundarR opened #411 "Order of pages in release-notes and upgrade guide is lexical order"
Prior to the move to latest mkdocs, the sections in release-notes and Upgrade-guide were following the order given in the mkdocs.yml file (or at least consistent with it).

Post the move (which is what I can determine, could be the wrong RCA here), it is in lexical order, and that messes up the view, and order of releases.

I am unsure how to correct this, posting the issue for attention.

Screen

[2018-08-24 09:08] nigelbabu commented on #411
This happened to the entire TOC. I discovered today that RTD does not look at the requirements.txt until we tell it to look there. While I was there, I got RTD to use python3 along with the latest mkdocs. This is now fixed with https://github.com/gluster/glusterdocs/pull/413

[2018-08-24 09:08] #411 closed

[2018-08-27 23:28] joejulian opened #415 "Add NFS troubleshooting"
A Gluster NFS troubleshooting document was suggested at Mountpoint.io

[2018-08-27 23:30] sankarshanmukhopadhyay commented on #415
@joejulian needs reassignment to me please

[2018-08-29 10:03] sankarshanmukhopadhyay commented on #415
A side-bar discussion at mountpoint.io indicated that the existing document at https://github.com/gluster/glusterdocs/blob/master/docs/Troubleshooting/troubleshooting-gnfs.md does not provide any easy means of identifying problem spots and creating a troubleshooting method for NFS (gNFS and NFS Ganesha) based deployments. This issue is to track review/update and modification to the guide to make i

[2018-08-29 13:07] ShyamsundarR commented on #408
I do not have one from a different project, but [here](https://github.com/gluster/glusterfs/blob/master/doc/developer-guide/Using-Gluster-Test-Framework.md) is a more detailed (maybe outdated) instruction set from our code base, which may be a good place for it to live rather than docs.

I would initially start with running tests to cover a commit that is being worked on or contributed, and later

[2018-09-10 16:32] ShyamsundarR opened #418 "EXT4 xattr limitations and hardlink support documentation is lacking"
As noted in [this](https://lists.gluster.org/pipermail/gluster-users/2018-August/034747.html) thread, documentation regarding ext4 limitations with xattr sizes is lacking.

Further more generic documentation regarding hardlinks and the option to limit # links at the backend, is not present in the docs. It is only present in the release notes.

One thought is to add an ext4 section or even a generi

[2018-09-13 13:10] ShyamsundarR opened #420 "Upgrade docs should describe package installation"
The documentation for installation covers installing on different distros (Debian, Ubuntu, etc.), but the upgrade documentation does not describe steps required to upgrade the installed packages.
For example:
Does a new apt repo need to be added?
Do the old packages need to be (or should be) removed?

Please extend the upgrade guide with instructions for the individual distros just like is done in

[2018-10-11 16:05] ShyamsundarR opened #428 "Reduce clutter in sidebar"
I wanted to see how to reduce clutter w.r.t Upgrade guides and release notes in the side bar.

I was toying with the idea of adding a sidebar topic like "Older upgrade guides" and "Older release notes" and then linking the respective md files from that page. Thus the side bar has reduced elements in it.

As I understand if mkdocs.yml does not have the md file listed it is not built. Chasing this I

[2018-11-20 06:30] nodesocket opened #437 "SSL certificate for docs.gluster.org expired"
I think the Let's Encrypt certificate for https://docs.gluster.org/ just expired.

<img width="1099" alt="screen shot 2018-11-20 at 12 30 14 am" src="https://user-images.githubusercontent.com/523312/48755593-7726a300-ec5b-11e8-9ae1-48d5e848dea7.png">

[2018-11-20 06:35] nodesocket commented on #402
Agree. I was unable to actually find the ports to allow. The [good guide](https://www.howtoforge.com/tutorial/high-availability-storage-with-glusterfs-on-centos-7/) seems to recommend:

TCP ports: `111`, `24007`, `24008`, `24009-(24009 + number of bricks across all volumes)`

[2018-11-28 14:44] ShyamsundarR opened #439 "Maintain a per-release op-version table"
Currently the op-version update guide [1] does not cover the max op-version a release comes with. This issue is to update the contents of [1] with a table of op-versions per release (even when minor releases change the op-version).

[1] op-version considerations during upgrade: https://docs.gluster.org/en/latest/Upgrade-Guide/op_version/

[2018-11-29 05:32] nigelbabu commented on #428
We have a test that runs with strict on so that we don't accidentally have a page that is published but not in the menu. So that one is a no go from the start.

[2018-12-20 09:05] woluty opened #441 "volume heal GFSvolume info：Volume heal failed."
Hi everyone,
	I encountered an issue about the command:volume heal GFSvolume info.
when I exec "gluster volume heal GFSvolume info",it returns info as below:
gluster> volume heal GFSvolume
Launching heal operation to perform index self heal on volume GFSvolume has been successful
Use heal info commands to check status.
gluster> volume heal GFSvolume info
GFSvolume: Not able to fetch volfile from g

[2018-12-24 04:41] prernasony commented on #441
Hello @woluty ,

You could try starting the volume with force command.
# gluster volume start <VOLNAME> force

[2019-01-02 12:38] adityaramteke opened #443 "In install-guide/overview.md page `Gluster Admin Guide` tag is pointing to the invalid url."
/kind bug
/kind enhancement

**What happened**:
There is some invalid tag which is pointing to the invalid file location:

[code]
 Which is pointing to ---> https://docs.gluster.org/en/latest/Install-Guide/Administrator%20Guide/

**What you expected to happen**:
`[Gluster Admin Guide](../Administrator Guide/)` must point to the index.md or Overview.md page.

[2019-01-02 13:34] #443 closed

[2019-01-02 18:23] adityaramteke opened #445 "We should not use spaces or underscore in repository/file name."
The reason for denying spaces are relatively clear - if a repository name can never have space, then any code generation that generates a reference to the repository never has to apply a quoting rule to the canonical description of the reference and the resulting reference will always be parsed correctly.

For example, repo  '[Administrator Guide](https://github.com/gluster/glusterdocs/tree/master

[2019-01-23 02:30] woluty commented on #441
I have tried by your way,but it did not any effect.
I also restarted glusterd，and there is no effect too.
May be I should restart to server,and see how it will progress.
But thank you all the same!

[2019-01-28 13:02] sunilheggodu opened #453 "Update documentation theme"

[2019-01-31 01:06] sammcj opened #456 "Gluster 5 release notes documentation link broken"
Source page: https://www.gluster.org/announcing-gluster-5/

Link: https://docs.gluster.org/en/latest/release-notes/5

Result: Read the docs gives 'Maze found - Sorry this page does not exist yet"

Suggested fix: Update the link to https://docs.gluster.org/en/latest/release-notes/5.0/

[2019-01-31 01:09] sammcj commented on #456
Note: I'd submit a MR for this myself but I can't see that announcing-gluster-5 page in the source repo?

[2019-01-31 06:39] amarts commented on #456
@ShyamsundarR @amye

[2019-01-31 11:59] ShyamsundarR commented on #456
Website link fixed.

[2019-01-31 11:59] #456 closed

[2019-02-04 13:31] sunilheggodu commented on #453
[Test Website](https://my-doc-sunil.readthedocs.io/en/latest/) for reviewing the change.

[2019-02-04 18:55] #453 closed

[2019-03-14 14:12] matonga opened #459 "Troubleshooting File Locks"
Replace "After ensuring that _the_ no application is using the file" by "After ensuring that no application is using the file".

[2019-07-04 02:38] tanzhenchao opened #481 "rdma.so: cannot open shared object file: No such file or directory"
1. I used the below parameters to compile and install Gluster in RHEL 8 x86_64,
[code]
2. I started Gluster with the below command,
`/usr/sbin/glusterd -p /var/run/glusterd.pid --log-level WARNING -l /var/log/gluster/gluster.log`
3. I check the output log, the prompt is as below,
[code]
4. Can anyone tell me how to solve this problem? The point is, I can't generate rdma.so.

[2019-07-04 02:51] #481 closed

[2019-07-18 12:35] Sheetalpamecha opened #486 "gluster-devel ML link broken"
Under section "Fixing issues reported by tools for static code analysis" link provided for gluster-devel ML gives page not found error
Should be updated to https://lists.gluster.org/mailman/listinfo/gluster-devel

[2019-07-18 17:06] #486 closed

[2019-07-22 08:32] NdK73 commented on #105
I'd suggest specifying what's acceptable for auth.ssl-allow, too.
Wildcard ('*') seems OK, but regexps ('srv[0-9]+') are not (but they could be very useful!).

[2019-07-24 03:24] sunyuanchao opened #491 "Automatically Mounting Volumes Server down"
For example:
server1:/test-volume /mnt/glusterfs glusterfs defaults,_netdev 0 0

in this example, if server1 down, this mont directory how to do

[2019-07-24 03:59] joejulian commented on #491
See https://github.com/gluster/glusterdocs/blob/master/docs/Administrator%20Guide/Setting%20Up%20Clients.md#manually-mounting-volumes

for support, please use the [mailing list](https://lists.gluster.org/mailman/listinfo/gluster-users)

[2019-07-24 03:59] #491 closed

[2019-08-04 13:34] akshaysharama opened #492 ".glusterfs directory size is more than volume content"
Hi,
I'm working with glusterfs from past two months.
Currently Using glusterfs replicated volume with kubernetes multinodes environment.

Glusterfs version : 5.6-5.8
created glusterfs volume using  below command -
gluster volume create command
with three bricks

each brick on each nodes( using 3 node )
created disk with ext4 filesystem

at mount path (disk )
I could see total disk size is - 25gb
f

[2019-08-13 19:32] olivergregorius opened #501 "Debian repositories are empty"
I was trying to get the latest GlusterFS version running on my Debian Stretch and followed the steps on https://github.com/gluster/glusterdocs/blob/master/docs/Install-Guide/Install.md
Unfortunately I'm getting an error during repository update:
"The repository 'https://download.gluster.org/pub/gluster/glusterfs/LATEST/Debian/9/amd64/apt stretch Release' does not have a Release file."
When I open

[2019-10-24 14:20] ShyamsundarR commented on #439
@harigowtham @rkothiya any chance of getting the above tables/information into the docs?

[2019-10-25 04:15] harigowtham commented on #439
@ShyamsundarR will look into it

[2020-01-23 12:17] stopsopa opened #524 "Better documentation for new user to start"
Is this project dying or what? maintenance of the documentation doesn't seem to be very active.

for example https://gluster.readthedocs.io/en/latest/Administrator%20Guide/Setting%20Up%20Clients/
says that i need to install version glusterfs-3.8.5-1.x86_64 where it looks like newest version is at least glusterfs-7.1-1.el7.x86_64.rpm

and on the installation process I've ended up with errors like t

[2020-01-23 12:33] sankarshanmukhopadhyay commented on #524
I apologize about this. We'll need to modify the segment where the installation package NVR is mentioned to indicate using the latest package sets from the download URL

[snip]

I agree. Thank you for exhorting us to do better for our users.

[2020-01-23 13:45] stopsopa commented on #524
@sankarshanmukhopadhyay thank you for you swift reaction, but adding note to documentation didn't made situation any better, I still don't know how to mount it on other machine.

Really sorry for ranting but I've wasted half of my day and I didn't achieved anything except building cluster that I can't use at all in simplest scenario, not mentioning even integrating it with Kubernetes which is my f

[2020-01-23 13:46] stopsopa opened #526 "Provide documentation with recomended way to integrate glusterfs with Kubernetes"

[2020-01-23 14:09] sankarshanmukhopadhyay commented on #526
The https://github.com/gluster/gluster-containers was originally designed to provide means to users (and operators) to enable Gluster with container runtimes.

In addition to the above, there is an additional upcoming project at https://github.com/kadalu/kadalu with the aim of easily provisioning PVs in a manner that is more native to kubernetes (k8s). The repository has a set of methods which wou

[2020-01-23 14:12] amarts commented on #526
Adding notes here without a formal documentation. Will try to provide history and present situation.

[GlusterFS](https://github.com/gluster/glusterfs) is a distributed file system, which by itself, doesn't have any 'native' way of integration with external eco-system, and is managed by `gluster` CLI tool.

There is [heketi project](https://github.com/heketi/heketi) which helped to provide a REST

[2020-01-25 11:22] jwulf opened #527 "Confusing meeting times on website"
There are two conflicting times for the community meetings on the website. One says Tuesday, the other says Wednesday:

<img width="470" alt="Screen Shot 2020-01-25 at 12 21 04 pm" src="https://user-images.githubusercontent.com/406975/73120363-492ea400-3f6d-11ea-8c2a-81ab180943a0.png">

<img width="338" alt="Screen Shot 2020-01-25 at 12 20 58 pm" src="https://user-images.githubusercontent.com/4069

[2020-01-30 02:39] aravindavk commented on #527
@harigowtham ^^

[2020-01-30 03:12] sankarshanmukhopadhyay commented on #527
The link at https://www.gluster.org/community/ has the set of meetings which are now in place. There are twice-a-month meetings on Tuesdays aimed at 3 timezones. In the near term it is likely that we'll find a single meeting time slice to enable overlap between these TZs (there is a proposal on the list).

Could you help me with the URL which has the image for "development" and has the Wednesday i

[2020-01-30 04:24] aravindavk commented on #527
https://www.gluster.org/community/ in "Development" section

[2020-01-30 07:10] harigowtham commented on #527
Hi Aravinda, I'm looking into it. Will get it fixed soon

On Thu, 30 Jan, 2020, 5:26 AM Aravinda Vishwanathapura, <
notifications@github.com> wrote:

[2020-02-03 16:51] sankarshanmukhopadhyay commented on #524
Ok. Let me walk back and understand if we have all the issues understood.

The first one was that the documentation did not explicitly mention about using the latest packages. Because of this error, your deployment has been broken. Additionally, you are facing issues related to mount points.

Are these the issues which are at present impacting the deployment? Is this a test instance or, a staging/

[2020-02-04 12:42] sankarshanmukhopadhyay opened #530 "[Placeholder] Update Contributor workflow guide"
https://docs.gluster.org/en/latest/Contributors-Guide/Index/ would need revisions once the workflow switches over to Github

[2020-02-07 11:43] sankarshanmukhopadhyay commented on #527
If the meeting times are indeed to be changed as Yati P had mentioned on lists, we could wait and do a single time update to the current decision.

[2020-02-07 12:46] sankarshanmukhopadhyay opened #534 "Proposing a change in the page title "Common Criteria""
The page at https://docs.gluster.org/en/latest/Install-Guide/Common_criteria/ is titled Common Criteria. "[Common Criteria](https://www.commoncriteriaportal.org/)" are a set of well known industry standard certifications. This page can be disambiguated by modifying the title to Glossary or, Terminology. A large chunk of the page establishes the meaning of commonly used terms in Gluster.

@amarts @

[2020-02-07 12:54] sankarshanmukhopadhyay opened #536 "Removing the page about compiling binaries from source"
"[How to compile GlusterFS RPMs from git source, for RHEL/CentOS, and Fedora](https://docs.gluster.org/en/latest/Install-Guide/compiling-rpms/)" has not aged well and is presently quite unmaintained. If this is not something a large number of our users do, I'd propose to remove this page from the listing/view.

@harigowtham @amarts - feedback requested on this proposal

[2020-02-07 13:03] sankarshanmukhopadhyay commented on #409
Closing this one. There's a newer set of issues and PRs for this.

[2020-02-07 13:03] #409 closed

[2020-02-07 13:05] sankarshanmukhopadhyay commented on #374
I'm not certain if this is something we see our users do often. The page has certainly not aged well and perhaps we should just remove it?

[2020-02-07 13:09] sankarshanmukhopadhyay commented on #428
I'm not sure where we left with this. @ShyamsundarR @nigelbabu - should this be closed?

[2020-02-07 13:09] sankarshanmukhopadhyay commented on #441
I'm going to close this issue. If we want to continue, please reopen.

[2020-02-07 13:09] #441 closed

[2020-02-07 13:11] sankarshanmukhopadhyay commented on #501
I see tarballs at the URLs. I'm going to close this. Please reopen if required.

[2020-02-07 13:11] #501 closed

[2020-02-07 15:13] aravindavk commented on #536
I think this can be moved to "Developers" section

[2020-02-07 16:30] ShyamsundarR commented on #428
I do not have any alternatives to provide here, so if we cannot reduce it, we need to live with it I guess.

[2020-02-08 05:45] sankarshanmukhopadhyay opened #537 ""Striped Glusterfs Volume" are no longer supported in Gluster"
The Admin Guide mentions "Striped Glusterfs Volume". This is no longer recommended for Gluster and any mention should be removed.

[2020-02-09 23:10] #428 closed

[2020-02-10 02:13] #537 closed

[2020-02-10 06:23] harigowtham commented on #536
Yes, This looks outdated. We do have users who look for a particular fix in urgency. If its not due for it to be packaged we ask them to build it themselves or wait. Not sure how many of them have actually used this guide to build it themselves. But having such a thing, gives us the freedom to ask them to build it themselves without waiting/relying on us.

[2020-02-10 06:25] harigowtham commented on #527
Yes, I'll wait for the confirmation to the time change we are looking into

[2020-02-10 15:53] kalylian opened #539 "Debian Stretch repos empty for GlusterFS 6.6"
Hi,

The GlusterFS repo for Debian 9,10 and 11 for GlusterFS 6.6 is empty ([https://download.gluster.org/pub/gluster/glusterfs/6/6.6/Debian/stretch/amd64/apt/](https://download.gluster.org/pub/gluster/glusterfs/6/6.6/Debian/stretch/amd64/apt/)). Both 6.5 and 6.7 are still available.

Is that intended?

Kind regards,

Gudrun

[2020-02-11 07:59] harigowtham commented on #534
@sankarshanmukhopadhyay we do have a [Glossary](https://docs.gluster.org/en/latest/glossary/) as well. Which contains a set of terminologies. May be in this case, we can add the missing ones to that current glossary page and rename it to terminologies and then make this as glossary?

[2020-02-11 08:21] sankarshanmukhopadhyay commented on #534
In that case we'd need to decide if this page is really required in the sequence we see it on the docs site.

[2020-02-11 08:22] sankarshanmukhopadhyay commented on #536
If this is only for a specific set of knowledgeable users then we can consider moving it to the Developers section

[2020-02-11 08:32] harigowtham commented on #536
+1 to moving to Developers section

[2020-02-11 12:51] sankarshanmukhopadhyay commented on #539
@harigowtham - would you be aware as to why the repos would be empty?

[2020-02-11 13:33] harigowtham commented on #539
Hi,

We do have the packages for Gluster 6.6 debian available in download.gluster.org. We have it in the names stretch, buster and bullseye but missed to create the same once again under the corresponding numbers (9 is stretch, 10 is buster and 11 corresponds to bullseye.). Thought both are the same and would be fine. @Shwetha-Acharya is looking into creating a copy of the same with the correspond

[2020-02-11 13:38] Shwetha-Acharya commented on #539
Hi,
I have copied stretch, buster and bullseye to corresponding versions. Can we close this bug?

Regards,
Shwetha

[2020-02-11 13:45] sankarshanmukhopadhyay commented on #539
We'll wait for the reporter to confirm that it now works as intended and we can close it after. @Shwetha-Acharya thank you for quickly addressing the issue!

[2020-02-11 15:43] kalylian commented on #539
Works like a charm. Thanks for the quick fix!

[2020-02-11 15:51] #539 closed

[2020-02-28 19:16] joejulian commented on #524
This appears to have been abandoned. Please re-open and respond to comments if it's still a valid documentation issue.

[2020-02-28 19:16] #524 closed

[2020-02-28 19:22] joejulian commented on #534
imho, it'd be clearest to just merge the pages into a single Glossary page.

[2020-03-12 16:14] kanevbg opened #549 "Make clear which of the supported major versions is expected to be most stable"
At this moment supported major version are 5, 6 and 7. I was unable to understand the release model in terms of stability. Is release 5 expected to be more stable than 6?

[2020-03-13 04:59] harigowtham commented on #549
We recommend using the latest version of Gluster as it is supposed to receive the most amount of fixes. Will mention this in the index of release-notes. Hope that would help. If not, please do suggest what can be done here.

[2020-03-13 06:16] kanevbg commented on #549
@harigowtham Hello.
I see it as good place as you said "in the index of release-notes" to inform for this.
Getting more fixes can be interpreted as more buggy, so it should be exactly noted as most stable branch.

[2020-03-18 13:57] Vinigas opened #551 "[BUG] Outdated link in gluster debian installation"
In https://github.com/gluster/glusterdocs/blob/master/docs/Install-Guide/Install.md

```wget -O - https://download.gluster.org/pub/gluster/glusterfs/LATEST/rsa.pub | apt-key add -``` is not valid anymore

[2020-03-18 14:10] #551 closed

[2020-04-01 00:51] tash opened #554 "docs.gluster.org has a forwarding issue."
There appears to be some type problem with forwarding for certain doc pages.

https://docs.gluster.org/en/latest/Administrator%20Guide/overview/
The browser won't  load due to too many forwards.

[2020-04-01 22:28] tash commented on #554
Issue seems resolved.

[2020-04-01 22:28] #554 closed

[2020-04-03 07:04] harigowtham opened #555 "steps to run a single .t file"
Update the steps to run a single .t file to test the changes.
Currently we have the steps to run the whole set of .t using run-tests script. we don't have doc on how to run a single file.

[2020-04-08 07:01] #555 closed

[2020-04-13 06:47] #536 closed

[2020-04-22 06:39] heri410 commented on #501
![grafik](https://user-images.githubusercontent.com/40234624/79948703-a22aad00-8474-11ea-860d-08d47f34e027.png)
I think it is empty again

[2020-04-22 09:02] Sheetalpamecha commented on #501
After building process, it will take some time for the packages to be reflected here.
I see building of debian packages is finished and all packages are present now

[2020-06-10 00:29] alphabet5 commented on #261
I believe the mount option should be changed from 'volfile-max-fetch-attempts' to 'fetch-attempts'.

[2020-06-19 21:51] n1nj4888 opened #566 "Gluster Upgrade Procedure Detail"
Hi There!

The current “Upgrade to 7” (there is no “Upgrade to 8” doc as yet?) Document refers to the upgrade process as being the same as “Upgrade to 4.1” (https://docs.gluster.org/en/latest/Upgrade-Guide/upgrade_to_4.1/)

In the “Upgrade to 4.1” document, Step (3) merely mentions “Install Gluster 4.1” - This should be more descriptive including the relevant commands.

For example, if the user in

[2020-06-29 11:42] anoopcs9 opened #571 "Update steps for accessing GlusterFS volume via SMB"
[v7.1](https://github.com/gluster/glusterfs/blob/release-7/doc/release-notes/7.1.md#glusterfs-samba) made some changes to how smb.conf parameters are added for respective volume shares. These are not yet reflected in [docs](https://docs.gluster.org/en/latest/Administrator%20Guide/Accessing%20Gluster%20from%20Windows/#step-4-performance-tunings-before-exporting-the-volume).

[2020-07-05 14:39] n1nj4888 commented on #566
Hi @harigowtham , I can see there's n "Upgrade to 8" document now but its not clear how to upgrade from Gluster 7 to Gluster 8? I tried to manually remove the gluster-7 ppa and add the gluster-8 ppa but no gluster-8 ppa exists (I'm running Ubuntu 20.04 LTS)?

[2020-07-13 10:42] sankarshanmukhopadhyay commented on #566
@Sheetalpamecha @rkothiya - who else can help with the answer to this?

[2020-07-13 10:42] sankarshanmukhopadhyay commented on #571
Is there a PR with the changes to review and merge?

[2020-07-13 11:31] anoopcs9 commented on #571
Not yet. I will link it here once I have one raised.

[2020-07-13 11:34] n1nj4888 commented on #566
I saw that the Gluster-8 PPA was finally added but I still can’t upgrade from Gluster-7 to Gluster-8. I’ve raised a specific bug for that at the following site https://github.com/gluster/glusterfs/issues/1364 But I still think the upgrade documentation could be much clearer.

[2020-07-13 15:28] olsw opened #579 "Unable to get Replication bricks back in sync"
There was an outage on one of the bricks and since then I have been unable to get them back in sync.

Running `sudo gluster volume heal vol01 full` produces the following in glustershd.log:

`[2020-07-13 15:24:50.326683] E [client-common.c:2705:client_pre_getxattr_v2] (-->/usr/lib/x86_64-linux-gnu/glusterfs/7.6/xlator/protocol/client.so(+0xd4f2) [0x7fb2929e54f2] -->/usr/lib/x86_64-linux-gnu/gluste

[2020-07-13 15:29] olsw commented on #579
Just seen this is probably in the wrong repo, will close and reopen elsewhere

[2020-07-13 15:29] #579 closed

[2020-07-14 14:55] avarf commented on #526
Hi, I am also looking for documentation on how to install and use GFS on K8s but I couldn't find any on the official documentation so I searched here.

I understand that at the moment there is no universal/official method to install and use GFS on K8s but it would be very helpful if you add exactly the same things that you wrote here to the official documentation.

[2020-08-28 13:15] n1nj4888 opened #594 "Gluster Release Notes for GlusterFS 7.x are sorted in opposite order"
Any reason why the Gluster 7.x releases are sorted in increasing order but all the other releases are sorted in decreasing order?

https://docs.gluster.org/en/latest/release-notes/

[2020-09-15 13:23] #594 closed

[2020-10-08 18:24] srijan-sivakumar opened #602 "Adding information about gluster-selinux into docs"
On going through the docs it seems that we have information about the selinux xlator but I couldn't find anything on gluster-selinux. Probably we should add the information in here as it would improve the documentation and people who are wondering as to why geo-rep or any other service is affected when selinux rules are enforced can refer to these rules.

[2020-10-13 11:44] Sheetalpamecha opened #603 "Add Information about disperse and distributed disperse Volumes in Architecture.md"
Its been long since stripe volumes types is deprecated and disperse volumes in use.

[2020-10-14 08:59] sankarshanmukhopadhyay commented on #603
Are we tracking this via https://github.com/gluster/glusterdocs/pull/604 ?

[2020-10-14 09:00] sankarshanmukhopadhyay commented on #602
This is a good point - if you want to contribute a starter set of content - please set up a PR

[2020-10-14 09:15] srijan-sivakumar commented on #602
Yes, working on the patch, will give out a PR soon :)

[2020-10-14 13:32] srijan-sivakumar opened #605 "Adding information about time synchronization for SSL"
Information regarding time synchronization of the servers and clients is not specified in the doc. But the certificate verification will fail if the time is not synced between the servers.

[2020-10-19 07:58] #605 closed

[2020-10-28 08:33] Sheetalpamecha commented on #603
yes. Closing it as #604  is merged

[2020-10-28 08:33] #603 closed

[2020-10-30 10:01] nik-redhat opened #608 "Update the upgrade guidelines if quota is enabled"
The upgrade procedure needs to be updated if the quota is enabled before upgrading the cluster and if the upgrade is from a version < 7 to a version > 7, as there have been some changes in the checksum calculation procedure which cause the nodes to go into the rejected state, so to fix that the nodes have to be restarted if the op-version is updated to the latest one after upgrading all the nodes

[2020-10-30 10:06] nik-redhat opened #609 "Update the ports allocation method in the docs"
Previously, the ports were allocated serially to each brick process but as per the changes in this PR(https://github.com/gluster/glusterfs/pull/1670), it is no more serialized. Instead, a random probing of ports is done.

Hence, the same needs to be updated in the docs as well.

[2020-11-03 06:39] #608 closed

[2020-11-23 15:23] LukasK13 commented on #218
Besides the issue mentioned above this part of the documentation is not properly formatted in readthedocs.
Opening this page in github reveals a clear structure using numbered lists. However, the numbered lists are not shown correctly in readthedocs where the numbered list is reset after each item leading to multiple items with number 1.

[2020-11-24 04:11] aravindavk commented on #218
Opening this page in github reveals a clear structure using numbered lists. However, the numbered lists are not shown correctly in readthedocs where the numbered list is reset after each item leading to multiple items with number 1.

Please confirm if the issue seen in the below link

https://docs.gluster.org/en/latest/Administrator-Guide/Setting-Up-Volumes/

[2020-11-24 08:27] LukasK13 commented on #218
Sorry for being not clear. I'm talking about the section [formatting and mounting bricks](https://docs.gluster.org/en/latest/Administrator-Guide/formatting-and-mounting-bricks/).

[2020-11-24 09:08] aravindavk commented on #218
Thanks. Sent PR https://github.com/gluster/glusterdocs/pull/616

[2020-12-01 05:15] Sheetalpamecha opened #617 "Add docs for gluster volume options"
Create a tabular format for all options available and their usage

[2020-12-09 06:42] srijan-sivakumar opened #619 "Conscious Language Changes"
Creating an issue to track the conscious language changes to be done in the glusterdocs repository.

[2020-12-09 06:44] srijan-sivakumar commented on #619
@sankarshanmukhopadhyay , can we start with renaming of the master branch to devel or something in line with that. I'm working on changing the terminologies related to geo-replication which will be in sync with the efforts put in by Ravi at glusterfs repo.

[2020-12-09 08:04] sankarshanmukhopadhyay commented on #619
@amarts - considering the suggestion above, I was thinking more in terms of 'main' rather than 'devel'. The latter tends to imply a constant stream of changesets and some form of instability. Do you have any strong preference between devel and main or have a better alternative? We'll also need to figure out the impact of this renaming - whether publication toolchain and other references will break

[2020-12-09 08:15] amarts commented on #619
Lets go ahead with `main`, which is what git is defaulting to.

[2020-12-12 23:32] alphabet5 opened #621 "Thin-Arbiter-Volumes.md has inaccurate and incomplete information."
- The command 'glustercli' is used, which doesn't have any reference in docs until somewhere back in the changelog for v4.

- The command to create a thin-arbiter volume file does not work. A file is not created, resulting in the following showing up in the logs.
[code]
- The command to create a volume is incorrect.
[code]
Should be changed to:
[code]

[2020-12-13 06:23] amarts commented on #621
@Sheetalpamecha @aspandey @itisravi @karthik-us can you please have a look when you get a chance... thanks.

[2020-12-13 18:39] alphabet5 commented on #621
After some more digging, there is this: https://review.gluster.org/#/c/glusterfs/+/20056/

Which has a script to assist with configuring a service for the thin-arbiter process, as well as a template .vol file at [glusterfs/extras/thin-arbiter/thin-arbiter/thin-arbiter.vol](https://github.com/gluster/glusterfs/blob/d1842d97b22419a8b73c2da07caa5f346ee6f7a7/extras/thin-arbiter/thin-arbiter.vol)

It a

[2020-12-14 05:58] itisravi commented on #621
@alphabet5
- thin-arbiter process is supposed to be run on a node outside the gluster trusted storage pool (i.e. where there is no glusterd running). So it must not be a peer.
- the script that you identified sets up the ta process as a systemd service which will auto start the process even if you kill it or it dies, so ideally there is no need to check its status. You can still  `ps aux|grep glus

[2020-12-15 14:55] alphabet5 commented on #621
Thanks @itisravi. Is there a way to verify the status of the arbiter? If the arbiter is online, but unreachable from the cluster, how would I know?

I don't really want to take a brick offline to see if the arbiter still allows writes to the other brick. Is there another way to verify the arbiter status?

[2020-12-15 15:07] amarts commented on #621
`telnet <thin-arbiter-node> 24007`

Ctl-]

[2020-12-15 15:26] alphabet5 commented on #621
@amarts how does this verify that the arbiter is working?

[code]

If I look at logs for the arbiter, it seems as though it might not be working, and I don't see how telnetting to the arbiter verifies its operational status.

[code]

Even if you verify the service status:

[code]

It doesn't validate that the thin-arbiter is operational.

[2020-12-15 15:41] alphabet5 commented on #621
To clarify; I'm thinking all of this information would be useful to have in Thin-Arbiter-Volumes.md.

If you want me to take a stab at a pull request, let me know.

I also haven't found an example for using setup-thin-arbiter.sh yet. I'm guessing something like `cd /mnt/dir/thin-arbiter-dir && sudo /?/?/?/setup-thin-arbiter.sh`

[2020-12-16 04:47] itisravi commented on #621
It needs to be reachable only from the (fuse) clients and not the cluster. So if it is not connected to any of the bricks including the TA brick, the fuse mount logs will have messages like `disconnected from distrep-client-0`etc. Conversely upon an established connection , you will see `Connected to distrep-client-0` etc. in the logs.

Sure go ahead.

Slide 23 of
https://archive.fosdem.org/2020/s

[2020-12-27 17:30] alphabet5 commented on #621
Is it possible to remove a thin-arbiter brick?

[code]

[2020-12-27 17:47] alphabet5 commented on #621
Per that slide deck, support for add/replace brick are on the todo list yet.

TODO
- Support for add/replace-brick CLI:
  - convert existing replica 2/3/arbiter to TA volume.
  - replace brick for data-bricks and TA node.
- Make reads aware of in-memory information about bad brick.
- Fix reported bugs. �

[2020-12-28 04:08] itisravi commented on #621
Yes  @Sheetalpamecha is working on this via https://github.com/gluster/glusterfs/issues/1528

[2021-01-07 11:44] Sheetalpamecha commented on #617
Patch posted https://github.com/gluster/glusterdocs/pull/624/

[2021-01-12 03:40] amarts commented on #617
were there only 3 options which were deprecated?

[2021-01-12 03:42] Sheetalpamecha commented on #617
Yes from the documented ones only these three. But there are plenty of them have been added. Will work on them xlator by xlator

[2021-01-12 19:09] #619 closed

[2021-01-13 12:29] nishith-vihar opened #626 "Incomplete dependencies and minor inaccuracy in commands for installation in Building-GlusterFS.md"
libuuid-devel dependency is missing in dependencies for glusterfs installation dependencies for fedora os and in the running glusterfs step 'glusterd' should be replaced by systemctl 'daemon-reload' and 'systemctl start glusterd'.

[2021-01-13 14:33] #626 closed

[2021-01-17 12:31] kalkir opened #629 "Expanding gluster volume"
Currently we have created dispersed gluster volume with 3 bricks and using 1 redundancy, we would like to expand 4 more bricks.
we are going to use redundancy count of 3, I could see the option 'gluster volume add-brick' but what would be the count of redundancy and disperse option.
Please confirm.
eg: gluster volume add-brick server4:/brick1 serve5:/brick1 server6:/brick1 server7:/brick1 disperse

[2021-02-03 04:48] Sheetalpamecha opened #641 "Missing Architechture diagram for disperse and Disperse-distributed Volume"

[2021-02-03 08:36] #641 closed

[2021-02-04 14:36] kalkir commented on #629
Any update on this?
thanks

[2021-02-08 15:04] #617 closed

[2021-02-10 12:37] srijan-sivakumar opened #647 "Update Events doc with latest changes"
Following are the latest changes which were pushed,
1. Change in the default port to be used for eventsd due to selinux restrictions.
2. The port range should always lie within ephemeral port range.
3. The document has to be updated for some cli related changes.

[2021-02-11 06:11] #647 closed

[2021-02-22 10:19] #609 closed

[2021-02-23 05:33] nishith-vihar opened #660 "Removal of force option in the snapshot create feature in the documentation."
As the force option is redundant and the snapshot create feature requires all the bricks to be online for creating a snapshot feature the force option should be removed and the quorum description should be removed.

[2021-02-23 06:56] kshithijiyer commented on #660
Force option isn't removed from snapshot this issue is invalid https://github.com/gluster/glusterfs/blob/devel/cli/src/cli-cmd-snapshot.c#L73.

[2021-03-16 06:34] balakreddy commented on #629
@kalkir From the existing disperse volume get gluster volume info, there you will find `Number of Bricks: 1 x (2 + 1) = 3`
You can only add bricks as multiple of the subvol brick count(Here subvol count is 2+1 = 3). If you try to add 4 bricks it will fail. No parameter like disperse 7 and redundancy 3 is needed while performing add-brick.

Volume add-brick fails as below when you add 4 bricks as b

[2021-03-16 10:04] balakreddy commented on #629
@kalkir Disperse count won't change, where as the volume will become distributed disperse.

Volume output after performing the add-brick.
[code]

Earlier when you have disperse volume  `1 x (2 + 1) = 3`, For eg  if you write 100 it will be stored in the 3 bricks.
After add-brick, If you write 100 files, now these 100 files will be distributed to two subvols.

[2021-03-16 14:25] kalkir commented on #629
Thank you for your update, so in this case failure of 2 nodes won't affect the volume right?

[2021-03-24 08:59] sosogh opened #669 "Questions about replacing bricks in Replicate/Distributed Replicate volumes"
Hi
I am running glusterFS service among two servers .

root@server1:~# gluster  --version
[code]

I am reading  https://docs.gluster.org/en/latest/Administrator-Guide/Managing-Volumes/#replace-brick，
and have the following questions :

1.  > Using the gluster volume fuse mount (In this example: /mnt/r2) set up metadata so that data will be synced to new brick

Does it mean running the command  "ro

[2021-04-07 05:40] #660 closed

[2021-04-07 14:49] srijan-sivakumar opened #677 "Adding limitation in glusterfind"
All nodes are supposed to be up and running for glusterfind operation. Adding it as a limitaiton.

[2021-04-09 17:59] simonsben commented on #629
I think that depends on which nodes fail. Logically the volume spans all six, but I think the new drives just act as an extension to the first three. So since it would be a 2 x (2 + 1), you could loose one drive from each of the *sets of three* and be fine. But I think if you lost two from the same *sub-group* then you'd lose the info from those three drives

[2021-04-09 18:02] kalkir commented on #629
Got it, Thanks for the clarification.

On Fri, Apr 9, 2021, 11:29 PM Ben Simons ***@***.***> wrote:

[2021-04-20 16:32] mikeatform opened #679 "Working cluster with 2 volumes. spontaneously one volume can't resolve it's peer servers."
All the DNS names are in host files.  I can ssh between the nodes.
Yesterday, I just reset a the offline nodes and things got back online.

`[2021-04-20 16:03:47.685059] E [name.c:266:af_inet_client_get_remote_sockaddr] 0-glusterfs: DNS resolution failed on host srv-3:srv-4
[2021-04-20 16:03:50.685442] E [name.c:266:af_inet_client_get_remote_sockaddr] 0-glusterfs: DNS resolution failed on host srv

[2021-04-20 17:52] mikeatform commented on #679
Two nodes not playing along have this:
DATA-shared-brick1[16996]: [2021-04-20 17:48:28.186345] C [MSGID: 113081] [posix-common.c:639:posix_init] 0-shared-posix: Extended attribute not supported, exiting.

[2021-05-25 05:29] kalkir opened #684 "Adding new bricks to disperse volume."
I am trying to add 3 new bricks to the existing gluster volume, but the operation is timing out and i am seeing lock on all nodes. I had to remove the bricks for normal operation. Is there any standard procedure to add  bricks to an live volume? do I need to unmount client mounts before adding additional brick? I have tried following command.

gluster volume add-brick gluster-vol 10.20.0.1:/bricks

[2021-05-29 12:47] edwardchenchen opened #685 "Issue with command to enable NUFA"
https://github.com/gluster/glusterdocs/blob/main/docs/Administrator-Guide/Managing-Volumes.md
Line 706
`gluster volume set <VOLNAME> cluster.nufa enable on`

I found the above command does not work, but when I tried with only enable or on.
It worked

![image](https://user-images.githubusercontent.com/6397192/120070813-a8f00e80-c0cf-11eb-99df-26736a059240.png)
![image](https://user-images.githubuse

[2021-05-30 11:56] nik-redhat commented on #685
Hi @edwardchenchen this seems to be a typo in the docs.
Yes, you can use `enable` or `on` to set the options requiring a boolean value.

[2021-05-30 12:02] #685 closed

[2021-07-09 03:46] kalkir commented on #684
Can I get an update?

[2021-07-09 03:47] #629 closed

[2021-07-27 13:15] karthik-us opened #692 "Add documentation for resolving GFID split-brains using CLI"
GFID split-brains/mismatches can be resolved using the split-brain resolution CLI or automatically by setting a favorite-child-policy.
The steps to do it using the split-brain CLI is not documented in the troubleshooting guide.

https://docs.gluster.org/en/latest/Troubleshooting/resolving-splitbrain/

[2021-07-29 04:03] karthik-us commented on #684
Hi @kalkir, This repository is for gluster documentation and for issues related to working of gluster, I would suggest raising one in https://github.com/gluster/glusterfs/issues, if not done already.

[2021-07-29 05:58] #692 closed

[2021-07-29 07:00] kalkir commented on #684
Thanks, raised one issue.

[2021-08-26 13:53] manuelzambrano opened #697 "Debian repositories are empty"
Trying to install glusterfs-client on a Debian Stretch but repositories are empty

Err:10 https://download.gluster.org/pub/gluster/glusterfs/9/LATEST/Debian/stretch/amd64/apt stretch Release
  404  Not Found

I would expect it not to be empty!

[2021-09-04 18:03] maxadamo opened #698 "Obsolete documentation regarding Puppet"
The documentation at the following link [https://docs.gluster.org/en/latest/Administrator-Guide/Puppet/ ](https://docs.gluster.org/en/latest/Administrator-Guide/Puppet/ )
is referring to a module that was updated 6 years ago the last time. This is no longer working either with modern puppet versions and with modern Gluster versions.

I recommend switching to this module: [https://forge.puppet.com/

[2021-09-24 14:30] aep opened #699 "link to debian apt key is 404"
in  https://docs.gluster.org/en/latest/Install-Guide/Install/

[code]

[2021-09-24 16:58] Sheetalpamecha commented on #699
Hello, Thanks for pointing it out. The command should be `wget -O - https://download.gluster.org/pub/gluster/glusterfs/9/rsa.pub | apt-key add -`
if you would like to send a patch for this , please feel free to send a PR.

[2021-09-28 10:00] aep opened #701 "libgfapi docs are gone"
according to wayback machine, they used to exist

https://web.archive.org/web/20150525024006/https://gluster.readthedocs.org/en/latest/Features/libgfapi/

[2021-09-28 14:05] #699 closed

[2021-10-14 18:49] jsschmid opened #705 "Debian repositories are empty"
A

  sudo apt update

gives me a

  Ign:10 https://download.gluster.org/pub/gluster/glusterfs/LATEST/Debian/10/amd64/apt buster InRelease
  Fehl:11 https://download.gluster.org/pub/gluster/glusterfs/LATEST/Debian/10/amd64/apt buster Release
    404  Not Found [IP: 8.43.85.185 443]

So it seems that
  https://download.gluster.org/pub/gluster/glusterfs/LATEST/Debian/10/amd64/apt/dists/buster/main/bi

[2021-10-15 12:35] Sheetalpamecha commented on #705
Hey @jsschmid,
I checked and it seemed link was pointing to wrong directory and thus it was empty.
Now it should work fine

[2021-10-15 12:35] #705 closed

[2021-10-15 12:40] #697 closed, assigned to nobody

[2021-10-17 21:26] romanrm opened #706 "Puzzling "when using hostnames" note in Quick Start"
https://docs.gluster.org/en/latest/Quick-Start-Guide/Quickstart/

"Note: When using hostnames, the first server needs to be probed from one other server to set its hostname."

Sorry, what? For someone reading this as the first thing they read about GlusterFS, this bit sounds really puzzling as to what do you mean exactly. "The first server", i.e. server1 from the context? Or probe only server2 (=

[2021-10-20 17:54] rafalkrupinski opened #709 "bad css in administrator guide"
https://docs.gluster.org/en/latest/Administrator%20Guide/

glyphs are displayed with 100% width of window

firefox 92 / macos 11.6

[2021-10-20 18:45] #709 closed

[2021-12-06 09:38] dleonarski opened #716 "Geo Replication on Armbian (aarch64) Bullseye fails - solved"
Hello,
geo replication between two identical nodes:

**fails** reporting:

Manually running above ssh command causes (and discloses) Python's error (original one !). I'm not able to quote the error message now (today it works fine and yesterday's logs has gone away :-) but **it's about line #893 in /usr/lib/aarch64-linux-gnu/glusterfs/python/syncdaemon/resource .py**. Change that line as follows:

[2021-12-26 15:16] bxs17 opened #719 "Mounting glusterfs on /home failed."
[2021-12-26 03:11:26.202149 +0000] I [MSGID: 100030] [glusterfsd.c:2767:main] 0-/usr/sbin/glusterfs: Started running version [{arg=/usr/sbin/glusterfs}, {version=10.0}, {cmdlinestr=/usr/sbin/glusterfs --process-name fuse --volfile-server=gfs02 --volfile-id=/fil_storage /home/fil_storage}]
[2021-12-26 03:11:26.203487 +0000] I [glusterfsd.c:2447:daemonize] 0-glusterfs: Pid of current running process

[2021-12-26 15:16] bxs17 commented on #719
root@ubuntu101:~# gluster volume info

Volume Name: fil_storage
Type: Disperse
Volume ID: 173e6d08-117d-42a9-8ce2-5605e2676eb1
Status: Started
Snapshot Count: 0
Number of Bricks: 1 x (32 + 8) = 40
Transport-type: tcp
Bricks:
Brick1: gfs01:/sdb1
Brick2: gfs02:/sdb1
Brick3: gfs03:/sdb1
Brick4: gfs04:/sdb1
Brick5: gfs05:/sdb1
Brick6: gfs01:/sdc1
Brick7: gfs02:/sdc1
Brick8: gfs03:/sdc1
Brick9: gfs04:/

[2021-12-27 06:10] Sheetalpamecha commented on #719
Hi @bxs17 ,
This is the limitation of disperse volumes. The number of fragments cannot be more than 16 (in this case - 32) as internally 16 is the maximum size of the matrix used to encode/decode data.

Ideally it should error out on volume creation only. Thanks for reporting this. I will send a patch to handle this.

Also This repo is for gluster documentation only.
For future, Please open the is

[2021-12-28 11:43] maxadamo opened #720 "gluster 10 packages for CentOS 7 should be available."

[2021-12-28 11:48] maxadamo commented on #720
based on the information from your installation guide, you provide Gluster 10 packages for Ubuntu 1804 and you do not provide packages for CentOS 7, but:
- Ubuntu 18.04 will be EOL on April 2023 and you're gonna create Gluster 10 packages
- RedHat/CentOS 7 will be EOL on June 2024, but you're **not** gonna create Gluster 10 packages

At the same time, CentOS 8 Stream is not really usable in produc

[2021-12-29 08:36] Sheetalpamecha commented on #720
@nixpanic

[2022-01-16 18:32] maxadamo commented on #720
I compiled the RPMs.
I don't have a pipeline, but I can share the RPMs and If you trust me, you'll only need to sign them (just ping me and I upload the files somewhere).
It was tricky and I had to do the following:

1. compile `liburing` (remembering to check-out tag 2.0): [how-to-build-liburing](https://stackoverflow.com/questions/61525015/how-to-build-liburing)
2. install `userspace-rcu` and `u

[2022-02-08 23:51] Mechazawa opened #723 "Package repository down for Debian 11"
I'm currently trying to install glusterfs on a Debian 11 amd64 machine but the repository breaks the connection as soon as it connects. It is working for Debian 10 arm64 though.

[code]

When trying to download the file using wgeton another machine it also doesn't work

[code]

[2022-02-09 00:03] #723 closed

[2022-05-12 06:30] Shwetha-Acharya commented on #716
This issue was fixed with https://github.com/gluster/glusterfs/commit/d148d1918552bfca30a003ac7cc84afde944d7b7 and is part of devel, release 10 and release 9 branches

[2022-05-12 06:30] #716 closed

[2022-05-12 06:36] #684 closed

[2022-05-12 06:36] #719 closed

[2022-05-12 07:15] Shwetha-Acharya commented on #706
@nik-redhat

[2022-05-12 07:18] nik-redhat commented on #706
Hi @romanrm , it is kind of insufficient, I agree. So, let me help you out with an example below.

The note tries to say is that we can use other names for the peers that we are using in our cluster
That is suppose you have a cluster `1.1.1.1`, `1.1.1.2`, `1.1.1.3`
And you peer probe like `gluster peer probe 1.1.1.2` from node `1.1.1.1`
Then, when you do a gluster peer status on `1.1.1.1` it will

[2022-05-13 06:55] #706 closed

[2022-05-13 19:24] Dr-Diesel opened #734 "Webpage Documentation > Administrators Guide link broken"
Hi, the Administrators Guide link in webpage menu to Docs is broken. Contains space instead of dash

404 http://docs.gluster.org/en/latest/Administrator%20Guide/
200 http://docs.gluster.org/en/latest/Administrator-Guide/

404 page layout of Docs is broken too, no stylesheet. In Console found this:
Refused to apply style from 'https://docs.gluster.org/assets/stylesheets/main.8c5ef100.min.css' becau

[2022-05-31 07:55] black-dragon74 commented on #734
Sorry but I was unable to understand this. Which menu item/link are you referring to?

This is because the file is not found at that URL and the browser gets 404 as a HTML.

The issue is due to the custom path that we append `en/latest`.  Since we do not have versioned docs anymore should we remove it?

If not, wherever the mapping is done, static assets needs to be pointed correctly i.e. Taking t

[2022-05-31 09:38] black-dragon74 opened #740 "[RFE] Auto generate documentation from directory contents"
Instead of manually specifying the nav in `mkdocs.yml` we could autogenerate the nav links based on the directory structure.

The idea is to have a python script which does this automatically for us and then it calls the `mkdocs build`.

The result will be a cleaner `mkdocs.yml` file and to add any new section/content we will just have to create a markdown file under a directory.

Please share you

[2022-05-31 15:14] aravindavk commented on #740
-1

Keeping the required order of the chapters is difficult if it is crawl based. Directories and file names should use number prefix so that order can be maintained (Ex: `002-Install-Guide/001-Overview.md`). Reorganizing or introducing a chapter is very difficult(Imagine adding a chapter between `002-*` and `003-*`)

[2022-06-20 07:45] rluetzner opened #753 "Misleading values for network.inode-lru-limit in different parts of the documentation"
The following docs mention settings that are no longer configurable (if they ever were at all):

- docs/Administrator-Guide/Performance-Tuning.md
- docs/Administrator-Guide/Accessing-Gluster-from-Windows.md

The docs mention that performance can be improved in some cases by setting `network.inode-lru-limit` to a value of 50,000 or even 200,000.

After looking through the GlusterFS code I noticed t

[2022-06-20 12:55] rluetzner commented on #753
Actually after spending a bit more time with the GlusterFS code I'm not entirely sure what happens.

The LRU limit is definately clamped when the inode table is created, but after that it seems like the limit can be arbitrarily increased.

I found this piece of code here in `xlators/protocol/server/src/server.c` in the function `server_reconfigure`:

[code]

I don't know enough about GlusterFS to

[2022-06-20 13:36] rluetzner commented on #753
Sorry for the confusion. The following explains what happens.

1. The mem_pool is allocated by default with space for 32*1024 inodes (or if lru_limit is lower than the exact value of the lru_limit).
2. When this limit is hit the mem_pool increases dynamically.
3. There is a `inode_table_prune` function that checks if the mem_pool has grown beyond the lru_limit and purges the oldest entries. This e

[2022-06-20 13:36] #753 closed

[2022-07-14 14:43] johanneskastl opened #754 "Explanations on possible values for transport.socket.ssl-cert-depth are missing"
https://github.com/gluster/glusterdocs/blob/78bfdf91542404557f470fc0d92d7b42326b8465/docs/Administrator-Guide/SSL.md?plain=1#L166

The file `/var/lib/glusterd/secure-access` may or may not contain a line with the `transport.socket.ssl-cert-depth` option.

The Guide is missing something like the following:

[code]

I am fishy on the exact details, as there does not seem to be a comprehensive list o

[2022-07-14 14:48] johanneskastl opened #755 "SSL Administrator-Guide should clearly separate between settings on the server and on the client"
I find the current structure of the [Administrator Guide for SSL](https://github.com/gluster/glusterdocs/blob/main/docs/Administrator-Guide/SSL.md) somewhat confusing.

I would propose to split it up into two sections, one for servers and one for clients.

This would make it more readable, and avoid confusion on which steps are (or are not?) needed on the client?

[code]

If desired, I can come up

[2022-08-23 10:07] dario-davi opened #758 "Tag V10 crashes on armv71"
Hi,

Ubuntu 22.04 arm installed on [https://www.hardkernel.com/shop/odroid-hc2-home-cloud-two/](https://www.hardkernel.com/shop/odroid-hc2-home-cloud-two/) (Samsung Exynos5422 Cortex-A15 2Ghz and Cortex-A7 Octa core CPUs).
If you execute glusterd it always gives: "Illegal instruction (core dumped)" and crashes.

Thanks a lot

[2022-11-24 14:58] #415 closed